<div class="container mt-4">

  <!-- EN-TÊTE AVEC BREADCRUMB ET BOUTONS -->
  <div class="d-flex justify-content-between align-items-center mt-0 pt-0">
    <nav>
      <ol class="breadcrumb mb-0">
        <h4 class="breadcrumb-item active"><a>Liste des Utilisateurs</a></h4>
      </ol>
    </nav>

    <div class="d-flex justify-content-end align-items-center gap-2">
      <button type="button" class="btn btn-warning btn-icon-text gap-2">
        <i class="feather icon-plus-circle "></i> Nouvel Utilisateur
      </button>
    </div>
  </div>

  <!-- TABLEAU DES UTILISATEURS -->
  <div class="card mt-4">
    <div class="card-body p-0">
      <section class="table-container mat-elevation-z8" tabindex="0">

        <table class="table table-striped table-hover align-middle mb-0">
          <thead class="table-light">
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Email</th>
              <th>Rôle</th>
              <th class="text-center">Détails</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.nom }}</td>
              <td>{{ user.prenom }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role?.description }}</td>
              <td class="text-center">
                <button class="btn btn-outline-secondary pb-0 px-3 pt-1">
                  <mat-icon class="m-0">info</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <span *ngIf="users?.length === 0" class="text-danger d-block mt-4 text-center">
          Aucun utilisateur trouvé
        </span>

        <div class="d-flex justify-content-center mt-3">
          <ngb-pagination
            [collectionSize]="totalUsers"
            [page]="pageOptions.page + 1"
            [pageSize]="pageOptions.size"
            [maxSize]="5"
            (pageChange)="paginate($event)"
            size="sm"
            [rotate]="true"
            [ellipses]="true"
            [boundaryLinks]="true">
          </ngb-pagination>
        </div>

      </section>
    </div>
  </div>
</div>
